<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="base::Layout(~{::section})">
	
<meta charset="ISO-8859-1">
<title>change password page</title>
</head>
<body>

	<section>

		<div class="container w-50 bg-light border border-warning rounded p-4" style="margin-top: 30px">
			<h1 align="center">Change Password</h1>
			
			 
			
		<form th:action="@{/changePassword}" method="post">
				
				<th:block th:if="${session.msg}">
					<p class="alert alert-success fs-6 text-center">[[${session.msg}]]</p>
				</th:block>
			
				<th:block th:if="${session.emsg}">
					<p class="alert alert-danger fs-6 text-center">[[${session.emsg}]]</p>
				</th:block>

				
				<div class="mb-3">
					<label for="old" class="form-label fw-bold">Current Password:</label> <input
						type="text" class="form-control" name="oldPass" required="required">
				</div>
				<div class="mb-3">
					<label for="new" class="form-label fw-bold">New Password:</label> <input
						type="text" class="form-control" name="newPass" required="required">
				</div>
				<button type="submit" class="btn btn-success fw-bold">submit</button>
				
	</form>
				
		</div>
		<h1><a href="/logout">Logout</a></h1>
	</section>



</body>
</html>
