<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>

		<div class="container w-50 bg-light border border-warning rounded p-4" style="margin-top: 30px">
			<h1 align="center">Edit User</h1>
			
			
 				
			<form th:action="@{/updateUser}" method="post">
				<div class="mb-3">
					<label for="name" class="form-label fw-bold">Name</label> <input
						type="text" class="form-control" name="name" th:value="${user.name}">
				</div>
				<div class="mb-3">
					<label for="email" class="form-label fw-bold">Email:</label> <input
						type="email" class="form-control" name="email" th:value="${user.email}">
				</div>
				<div class="mb-3">
					<label for="mobileNo" class="form-label fw-bold">MobileNo</label> <input
						type="text" class="form-control" name="mobileNo" th:value="${user.mobileNo}">
				</div>
				
				<button type="submit" class="btn btn-success fw-bold">Submit</button>
			</form>
		</div>
	</section>

</body>
</html>